<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FW GUI</title>
    <link rel="stylesheet" href="/static/css/bootstrap-4.5.2.min.css" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


    <link rel="stylesheet" href="/static/css/boxit.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">FW GUI</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/corps">Corpora</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/upload">Upload data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <br>
  <div class="text-center" style="font-size:large">
    <p class="my-3">This website is dedicated to collecting language corpora. The corpora are used for studies in syntax, especially in differential object marking.</p>
    <img src='/static/kazym.png' width="1080">
    <br>
    <p class="my-3">We invite you to <a href="/upload">upload</a> your own data or take a look at <a href="/corps">available corpora</a>.</p>
    <p class="my-5">The available corpora are Moksha and Khanty. These are texts collected during the joint filed work of the Higher School of Economics and Moscow State University teams (2013-2015, and 2018-2021 correspondingly). They were annotated for different factors regulating the choice of object marking in these languages.</p>
  </div>
  <footer>
    <p style="font-size:small" align="justify">This website is supported by RFBR and GACR, project number 20-512-26004 "The morphology pf agreement" (Исследование выполнено при финансовой поддержке РФФИ и ЧНФ в рамках научного проекта № 20-512-26004).</p>
  </footer>
  <!-- Initialize the plugin: -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  <script  src="/static/js/double.js" crossorigin></script>
</body>

</html>
